:root { 
/* color variables */
    --light : #ffffdd;
    --dark : #333;
    --color : #bac94c;
}

html, body {
    margin:0;
    padding:0;
    font-family: Calibri , sans-serif;
    }

body {
    background-color: lightgrey;
    color: var(--dark);
}

.wrapper {
    background-color: var(--light);
}
/*Menu Plat*/
#plat h1{
    text-align: center;
    font-size: 60px;
}
#plat h2{
    margin: 0px 0px 0px 40px;  
    font-size: 30px;
    color: var(--light);
}
#plat p {
    font-size: 25px;
    color: var(--light);
}
#plat img{
    float: left;
    margin: 4px 0px 0px 5px;
}
#plat .formule{
    border: solid 1px black;
    background-color: var(--dark);
    text-align: center;
    width: 90%;
    height: 450px;
    margin: auto;
    padding-top: 40px;
    border-radius: 4px;
    box-shadow:0px 5px 10px var(--dark);
}
#plat h2{
    text-align: center;
}
#plat .partage {
    border: solid 1px black;
    background-color: var(--dark);
    text-align: center;
    width: 90%;
    height: 120px;
    margin: auto;
    border-radius: 4px;
    box-shadow: 0px 5px 10px var(--dark);
}
#plat .kid{
    border: solid 1px black;
    background-color: var(--dark);
    text-align: center;
    width: 90%;
    height: 100px;
    margin: auto;
    border-radius: 4px;
    box-shadow: 0px 5px 10px var(--dark);
}
@media screen and (min-width: 1200px) {
    .wrapper {
        width: 70rem;
        margin: auto;
        box-shadow:2px 2px 10px gray; 
        -moz-box-shadow:2px 2px 10px gray;
        -webkit-box-shadow:2px 2px 10px gray;
        border-radius: 2px;
}
    }
