:root { 
/* color variables */
    --light : #ffffdd;
    --dark : #333;
    --color : #bac94c;
}

html, body {
    margin:0;
    padding:0;
    }

body {
    background-color: lightgrey;
    color: var(--dark);
}

li{
    list-style: none;
}

.wrapper {
    background-color: var(--light);
}

@media screen and (min-width: 1200px) {
    .wrapper {
        width: 70rem;
        margin: auto;
        box-shadow:2px 2px 10px gray; 
        -moz-box-shadow:2px 2px 10px gray;
        -webkit-box-shadow:2px 2px 10px gray;
        border-radius: 2px;
}
    }
}