:root { 
/* color variables */
    --light : #ffffdd;
    --dark : #333;
    --color : #bac94c;
}

html, body {
    margin:0;
    padding:0;
    }

body {
    background-color: lightgrey;
    color: var(--dark);
}

.wrapper {
    background-color: var(--light);
}

/* Footer */
footer {
    height: 243px;
    background-color:var(--dark);  
    list-style: none;  
}
footer a{
    text-decoration: none;
    color: var(--light);
}

.footer1 h3{
    color: var(--color);
}
footer .footer1{
    display: flex;
    justify-content: space-around;
    text-align: left;
    margin-right: 100px;
}

footer .listeregent{
    width: 15rem;
    flex-direction: column;
    margin-right: -66px;

}
footer li {
    font-size: 12px;
}
footer hr{
    margin-top: 40px;
    color: var(--light);
}
footer .nomfooter{
    display: flex;
    justify-content: space-around;
}
footer .nomfooter p{
    color: var(--light);
    margin-top: 5px;
    font-size: 12px;
}
footer .nomfooter a{
    color: var(--color);
}
footer .follow nav {
    display: flex;
    justify-content: space-between;
    width: 120px;
}
@media screen and (min-width: 1200px) {
    .wrapper {
        width: 70rem;
        margin: auto;
        box-shadow:2px 2px 10px gray; 
        -moz-box-shadow:2px 2px 10px gray;
        -webkit-box-shadow:2px 2px 10px gray;
        border-radius: 2px;
    }
}

@media screen and (max-width: 768px) {
     .footer1{
         display: flex;
         justify-content: space-around;
         width: 100%;
         padding-top: 10px;
         padding-left: 10px;
    }

    footer .logo_bistrot{
        display:  none;
    }
    .footer1 h3{
        display: none;
    }
    .follow{
        margin-left: 10px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    .follow nav{
        display: flex;
        flex-direction: column;
    }
}