:root {
    /* color variables */
    --light: #ffffed;
    --dark: #333;
    --color: #bac94c;
}


/* GENERAL  */
html,
body {
    margin: 0;
    padding: 0;

}

body {
    
    color: var(--dark);
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(var(--light), var(--dark));
    }


.wrapper {
    background-color: var(--light);
    display: flex;
    flex-direction: column;
}


.appear{
    opacity:0;
    position: relative;
    top: 100px;
  }
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++ HEADER ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/*DESKTOP MENU*/
header {
    position: sticky;
    z-index:2;
    top: 0;
    display: flex;
    max-width: 100%;
    background-color: var(--dark);
    padding: .5rem;
    justify-content: space-between;
    align-items: center;
}

.logo_bistrot {
    height: 3.5rem;
    margin: 0 1rem;
    border: 1px solid var(--color);
    padding: .2rem;
    border-radius: 100%;
}

#burger_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16px;
    width: 22.75px;
}

.burger_btn {
    position: absolute;
    height: 1rem;
    cursor: pointer;
}

#burger_btn_down {
    z-index: 3;
}

#burger_btn_up {
    z-index: 2;
}

#desktop_menu {
    display: none;
}



/*BUTTON MENU */
.nav_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: auto;
    padding: .1rem;
    margin: .5rem;
    height: 2rem;
    width: 8.5rem;
    text-align: center;
    border: 1px solid var(--color);
    border-radius: 10px;
    color: var(--light);
    text-decoration: none;
    background-color: var(--dark);
}

/*RESPONSIVE MENU*/

#responsive_menu{
    display: flex;
    margin: 0;
    margin-top: 72px;
    margin-left: -10rem;
    padding: 0;
    position : fixed;
    flex-direction: column;
    justify-content: space-around;
    background-color: #333;
    border-bottom-right-radius: 15px;    
    transition: .5s;
    z-index: 2;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++ ACCUEIL +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

#home {
    background-color: var(--light);
    color: var(--dark);
    border-radius: 3px;
}

.banner {
    display: block;
    margin: auto;
    padding-top: .5rem;
    text-align: center;
}

.banner h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2rem;
    margin-left: 1rem;
}

#demo {
    width: 100%;
    margin: 1rem auto;
}

.text {
    width: 88%;
    margin: auto;
    text-align: justify;
}

.text h1 {
    text-align: center;
}

.infos-restau {
    margin-top: 1rem;
    text-align: center;
}

.infos-restau h4 {
    font-size: 1.3rem;
    font-weight: bolder;
}

.dates{
    padding: .5rem;
    border: solid 1px var(--color);
    width: fit-content;
    margin: auto;
    margin-bottom: 2rem;
}


.infos-restau h6{
    font-weight: bolder;
}

#booking {
    width: 60%;
    margin: 1rem auto;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++ BOISSONS ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

#drinks h2 {
    padding: 0 2rem;
    text-transform: uppercase;
}


.drink-type {
    margin: 4rem 2rem;
    box-shadow: 2px 5px lightgrey;
    -moz-box-shadow: 1px 2px 5px lightgrey;
    -webkit-box-shadow: 1px 2px 5px lightgrey;
    border-radius: 2px;
    padding: 2rem 0;
}

.separator {
    height: 1px;
    width: 85%;
    margin: 0 auto;
    border-top: 1px solid var(--color);
}

.drinks-menu {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 0.5rem;
    margin: 1rem 2rem;
}

.drink-space {
    margin: 0 1rem;
}

.drink-name {
    max-width: 80%;
}

.titleclass{
    padding: .5rem 0 .5rem 2rem;
    font-weight: bolder;
    color: var(--color);
}

.apero-menu {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 0.5rem;
    margin: 1rem 1rem;
}

/* Vins */

#legends {
    font-size: 0.7rem;
    padding: 0;
    margin: 0;
}

.wine {
    display: grid;
    grid-template-columns: 4.5fr 0.5fr 0.5fr 1.3fr 1fr 1fr 0.9fr;
    padding: 0.5rem;
    margin: 1rem 2rem;
}

.wine div {
    margin: 0 0.25rem;
}

.red-round {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #6f0d0d;
}

.rose-round {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #e96f51;
}

.white-round {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #e6d67c;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++ PLATS ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

#dishes h1{
    text-align: center;
    font-size: 60px;
}

#dishes h2 {
    margin: 0px 0px 0px 40px;
    font-size: 30px;
    color: var(--light);
    text-align: center;
}

#dishes p {
    font-size: 25px;
    color: var(--light);
    height: 25px;
}

#dishes .partage {
    border: solid 1px black;
    background-color: var(--dark);
    text-align: center;
    width: 90%;
    height: 120px;
    margin: auto;
    border-radius: 4px;
    box-shadow: 0px 5px 10px var(--dark);
}
#dishes .kid{
    border: solid 1px black;
    background-color: var(--dark);
    text-align: center;
    width: 90%;
    height: 100px;
    margin: auto;
    border-radius: 4px;
    box-shadow: 0px 5px 10px var(--dark);
}
#desserts .desserts {
    border: solid 1px black;
    background-color: var(--dark);
    width: 90%;
    height: 450px;
    margin: auto;
    border-radius: 4px;
    box-shadow: 0px 5px 10px var(--dark);
}
#desserts h1{
    text-align: center;
    font-size: 40px;
}
#desserts li {
    color: var(--light);
    font-size: 20px;
    list-style: none;
}
#desserts .liste{
    display: flex;
}
#desserts ul{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 50px;
}
#dessert p{
    color: var(--light);
    font-size: 15px;
    text-align: center;
    padding-top: 20px;
}


#dishes .formule {
    border: solid 1px black;
    background-color: var(--dark);
    text-align: center;
    width: 90%;
    height: 600px;
    margin: auto;
    padding-top: 40px;
    border-radius: 4px;
    box-shadow: 0px 5px 10px var(--dark);
}

#user_message {
    height: 5rem;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++ FOOTER ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

footer {
    border: solid black 1px;
    height: 243px;
    background-color: var(--dark);
    list-style: none;
}


footer a {
    text-decoration: none;
    color: var(--light);
}

.footer1 h3 {
    color: var(--color);
}

footer .footer1 {
    display: flex;
    justify-content: space-around;
    text-align: left;
    margin-right: 100px;
}

footer .listeregent {
    width: 15rem;
    flex-direction: column;
    margin-right: -66px;

}


footer li {
    font-size: 12px;
}

footer hr {
    margin-top: 40px;
    color: var(--light);
}

footer .nomfooter {
    display: flex;
    justify-content: space-around;
}

footer .nomfooter p {
    color: var(--light);
    margin-top: 5px;
    font-size: 12px;
}

footer .nomfooter a {
    color: var(--color);
}

footer .follow nav {
    display: flex;
    justify-content: space-between;
    width: 120px;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++ FORMULAIRE ++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#contact h2 {
    text-align: center;
    color: var(--dark);
}


form {
    display: grid;
    grid-template-columns: 25rem;
    justify-content: center;
}

label {
    margin: .5rem;
    padding-top: .2rem;
}

.form_input {
    border: none;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-color: var(--dark);
    border-bottom-left-radius: 5px;
    outline: none;
    height: 1.5rem;
    padding-left: 0.5rem;
    background-color: var(--light);
}

/*.form_input:focus{
    /* transform: scale(1.1); 
}*/

#select_input {
    background-color: var(--light);
}

/* #nb_personnes{
    display: none;
    width: 10rem;
    justify-content: center;
    border-right: 1px solid var(--dark);
} */

#date_time_box{
    display:none;
    justify-content: center;
}

#date, #time, #nb_personnes{
    height: 2rem;
    border-right: 1px solid var(--dark);
    border-bottom-right-radius: 5px;
    font-size: .8rem;
}

#choose_motif{
    display:none;
}

#user_message{
    height: 5rem;
    resize: none;
}

#submit_btn {
    width: 5rem;
    height: 2.5rem;
    margin: 1rem;
    justify-self: end;
    border-radius: 20px;
    border: 2px solid var(--color);
    background-color: var(--light);
    color: var(--dark);
}

#submit_btn:hover {
    cursor: pointer;
    box-shadow: var(--dark) 0px 3px 8px;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++ MEDIA QUERIES ++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

@media screen and (min-width: 1200px) {
    .wrapper {
        width: 70%;
        margin: auto;
        box-shadow: 2px 2px 10px gray;
        -moz-box-shadow: 2px 2px 10px gray;
        -webkit-box-shadow: 2px 2px 10px gray;
        border-radius: 2px;

    }

    .dates{
        margin-bottom: auto;
    }
    

    #desktop_menu {
        display: flex;
    }

    #home {
        margin: 0.5rem 3rem;
    }

    .banner {
        display: flex;
    }

    .banner h3 {
        display: inline;
    }

    .banner img {
        display: inline;
    }

    #demo {
        width: 90%;
    }

    .large-display {
        display: inline-flex;
    }

    .aperooo {
        margin-right: 10rem;
    }

    .container-softs {
        display: inline-flex;
    }

    .infos-restau {
        display: flex;
        justify-content: space-around;
    }

    .infos-restau .horaries p {
        text-align: left;
    }

    .horaries {
        display: inline;
    }

    .localisation {
        display: inline;
    }


    #booking {
        width: 8rem;
        margin-left: 5%;
    }

    .googlemaps {
        justify-self: center;
        margin-top: 1rem;
    }

    /*.googlemaps:hover{
        transform: scale(1.1);
    }

    
    .dates:hover{
        transform: scale(1.2);
    }*/


    #booking:hover{
        transform: scale(1.2);
    }
    .apero-menu {
        margin: 1rem 2rem;
    }

    #burger_btn_down,
    #burger_btn_up
    {
        display: none;
    }

    #responsive_menu{
        display: none;
    }
}

    iframe{
        box-shadow: 3px 3px 10px gray;
        -moz-box-shadow: 3px 3px 10px gray;
        -webkit-box-shadow:3px 3px 10px gray;
        border-radius: 10px;
    }
    

@media screen and (max-width: 768px) {
    #optional {
        display: none;
    }

    .bloc-container {
        width: 95%;
    }

    

    .wine {
        margin: 1rem 1rem;
    }

    .drinks h3,h4, div > * {
        font-size: 15px;
    }

    .round {
        width: 1rem;
        height: 1rem;
    }
}


@media screen and (max-width: 1200px){
    form{
        grid-template-columns: 20rem;
    }
}

