:root { 
/* color variables */
    --light : #ffffdd;
    --dark : #333;
    --color : #bac94c;
}

html, body {
    margin:0;
    padding:0;
}

body {
    background-color: lightgrey;
    color: var(--dark);
}

.wrapper {
    background-color: var(--light);
}

header{
    display: flex;
    max-width: 100%;
    background-color: var(--dark);
    padding: .5rem;
    justify-content: space-between;
    align-items: center;
}

#burger_container{
    height: 48px;
    width: 48px;
}

#burger_btn{
    height: 3rem;
}

ul{
    display: flex;
}

.nav_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 .5rem;
    list-style: none;
    height: 2rem;
    width: 8rem;
    text-align: center;
    border: 1px solid var(--light);
    border-radius: 10px;
    color: var(--color);
    text-decoration: none;
}

#logo_bistrot{
    height: 3rem;
    padding: 1rem;
    margin:  .5rem 2rem;
    border: 1px solid var(--color);
    border-radius: 50%;
}


@media screen and (min-width: 1200px) {
    .wrapper {
        width: 70rem;
        margin: auto;
        box-shadow:2px 2px 10px gray; 
        -moz-box-shadow:2px 2px 10px gray;
        -webkit-box-shadow:2px 2px 10px gray;
        border-radius: 2px;
    }

    
}

@media screen and (max-width: 1200px) {
    #desktop_menu{
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    #burger_btn{
        display: none;
    }