:root { 
/* color variables */
    --light : #ffffdd;
    --dark : #333;
    --color : #bac94c;
}

html, body {
    margin:0;
    padding:0;
}

body {
    background-color: lightgrey;
    color: var(--dark);
}

.wrapper {
    background-color: var(--light);
}

/*DESKTOP MENU*/
header{
    position: sticky;
    top: 0;
    display: flex;
    max-width: 100%;
    background-color: var(--dark);
    padding: .5rem;
    justify-content: space-between;
    align-items: center;
}

#burger_container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16px;
    width: 22.75px;
}

.burger_btn{
    position: absolute;
    height: 1rem;
    cursor: pointer;
}

#burger_btn_down{
    z-index: 2;
}

#burger_btn_up{
 z-index : 1;
}

#desktop_menu{
    display: flex;
}

/*BUTTON MENU */
.nav_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .5rem;
    height: 2rem;
    width: 8rem;
    padding: .1rem;
    text-align: center;
    border: 1px solid var(--color);
    border-radius: 10px;
    color: var(--light);
    text-decoration: none;
    background-color: var(--dark);
}

#logo_bistrot{
    height: 2rem;
    padding: 1rem;
    margin:  0 1rem;
    border: 1px solid var(--color);
    border-radius: 100%;
}

/*RESPONSIVE MENU*/
#responsive_menu{
    display: flex;
    margin: 0;
    margin-left: -10rem;
    padding: 0;
    position : fixed;
    flex-direction: column;
    justify-content: space-around;
    background-color: #333;
    border-bottom-right-radius: 15px;    
    transition: .5s;
}

/*FORMULAIRE*/
#contact > h2{
    text-align: center;
    color: var(--dark);
}

form{
    display: grid;
    grid-template-columns: 20rem;
    justify-content: center;
}

label{
    margin: .5rem;
    padding-top: .2rem;
}

.form_input{
    border: none;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-color: var(--dark);
    border-bottom-left-radius: 5px;
    outline: none;
    height: 1.2rem;
    padding-left: 0.5rem;
}

#select_input{
    background-color: var(--light);
}

#user_message{
    height: 5rem;
}

#submit_btn{
    width: 5rem;
    height: 2.5rem;
    margin: 1rem;
    justify-self: end;
    border-radius: 13px;
    border: 2px solid var(--color);
    background-color: var(--dark);
    color: var(--color);
}

#submit_btn:hover{
    cursor: pointer;
    box-shadow: var(--dark) 0px 5px 15px;
}

@media screen and (min-width: 1200px) {
    .wrapper {
        width: 70rem;
        margin: auto;
        box-shadow:2px 2px 10px gray; 
        -moz-box-shadow:2px 2px 10px gray;
        -webkit-box-shadow:2px 2px 10px gray;
        border-radius: 2px;
    }

    #burger_btn_down,
    #burger_btn_up
    {
        display: none;
    }

    #responsive_menu{
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    #desktop_menu{
        display: none;
    } 
}
