:root { 
/* color variables */
    --light : #ffffdd;
    --dark : #333;
    --color : #bac94c;
}

html, body {
    margin:0;
    padding:0;
    }

body {
    background-color: lightgrey;
    color: var(--dark);
}

.wrapper {
    background-color: var(--light);
}

/*FORMULAIRE*/
form{
    display: grid;
    grid-template-columns: 20rem;
    justify-content: center;
}

label{
    margin: .5rem;
    padding-top: .2rem
}

.form_input{
    border-top: none;
    border-right: none;
    outline: none;
    height: 1.2rem;
    padding-left: 0.5rem;
}

#user_message{
    height: 5rem;
}

#submit_btn{
    width: 5rem;
    height: 2.5rem;
    margin: 1rem;
    justify-self: end;
    border-radius: 13px;
    border: 2px solid var(--color);
    background-color: var(--dark);
    color: var(--color);
}

#submit_btn:hover{
    cursor: pointer;
    box-shadow: var(--dark) 0px 5px 15px;
}

@media screen and (min-width: 1200px) {
    .wrapper {
        width: 70rem;
        margin: auto;
        box-shadow:2px 2px 10px gray; 
        -moz-box-shadow:2px 2px 10px gray;
        -webkit-box-shadow:2px 2px 10px gray;
        border-radius: 2px;
}
    }
}