:root { 
/* color variables */
    --light : #ffffed;
    --dark : #333;
    --color : #bac94c;
}

html, body {
    margin:0;
    padding:0;
}

body {
    background-color: lightgrey;
    color: var(--dark);
    font-family: 'calibri', sans-serif;
}

.wrapper {
    background-color: var(--light);
    display: flex;
    flex-direction: column;
}   


#phiphi {
    background-color: var(--dark);
    color: var(--light);
    display: flex;
    flex-direction: column;
}

#phiphi h1 {
    text-align: center;
}

#phiphi .banner {
    justify-content: space-between;
    padding-right: 2rem;
}

#phiphi .text {
    text-align: justify;
    width: 50%;
    float: right;
    font-size: 0.9rem;
}

#phiphi img {
    max-width: 50%;
    height: auto;
    }

/* CARTE DES BOISSONS */

h2 {
    text-transform: uppercase;
}
/* Vins */

.bloc-container{
    margin: 2rem;
    box-shadow: 2px 5px lightgrey; 
        -moz-box-shadow: 1px 2px 5px lightgrey;
        -webkit-box-shadow: 1px 2px 5px lightgrey;
        border-radius: 2px;
    padding: 2rem 0;
}

.border{
    height: 1px;
    width: 90%;
    margin: 0 auto;
    border-top: 1px solid var(--color);
}
 .vin {
    display: grid;
    grid-template-columns: 4.5fr 0.5fr 0.5fr 1.5fr 1fr  1fr 0.74fr;
    padding: 0.5rem;
    margin: 1rem 1rem;
}

.red-round {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #6f0d0d;
}

.rose-round {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #e96f51;
}

.white-round {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #e6d67c;
}


    /*FORMULAIRE*/
form{
    display: grid;
    grid-template-columns: 20rem;
    justify-content: center;
}

label{
    margin: .5rem;
}

#submit_btn{
    width: 5rem;
    height: 2.5rem;
    margin: 1rem;
    justify-self: end;
    border-radius: 13px;
    border: 2px solid var(--color);
    background-color: var(--dark);
    color: var(--color);
}

#submit_btn:hover{
    cursor: pointer;
    box-shadow: var(--dark) 0px 5px 15px;
}


@media screen and (min-width: 1200px) {
    .wrapper {
        width: 70%;
        margin: auto;
        box-shadow:2px 2px 10px gray; 
        -moz-box-shadow:2px 2px 10px gray;
        -webkit-box-shadow:2px 2px 10px gray;
        border-radius: 2px;
    }
}

@media screen and (max-width: 698px) {
    #optional{
        display: none;
    }

    .bloc-container {
        width: 95%;
    }
}