:root { 
/* color variables */
    --light : #ffffdd;
    --dark : #333;
    --color : #bac94c;
}

html, body {
    margin:0;
    padding:0;
    font-family: Calibri , sans-serif;
    }

body {
    background-color: lightgrey;
    color: var(--dark);
}

.wrapper {
    background-color: var(--light);
}
/*Menu Plat*/
#plat h1{
    text-align: center;
    font-size: 60px;
}
#plat h2{
    margin: 0px 0px 0px 40px;  
    font-size: 30px;
    color: var(--light);
}
#plat p {
    font-size: 25px;
    color: var(--light);
    height: 25px;
}
#plat img{
    margin: 0px 0px 0px 45px;
}
#plat .formule{
    border: solid 1px black;
    background-color: var(--dark);
    text-align: center;
    width: 90%;
    height: 600px;
    margin: auto;
    padding-top: 40px;
    border-radius: 4px;
    box-shadow:0px 5px 10px var(--dark);
}
#plat h2{
    text-align: center;
}
#plat .partage {
    border: solid 1px black;
    background-color: var(--dark);
    text-align: center;
    width: 90%;
    height: 120px;
    margin: auto;
    border-radius: 4px;
    box-shadow: 0px 5px 10px var(--dark);
}
#plat .kid{
    border: solid 1px black;
    background-color: var(--dark);
    text-align: center;
    width: 90%;
    height: 100px;
    margin: auto;
    border-radius: 4px;
    box-shadow: 0px 5px 10px var(--dark);
}
#dessert .desserts {
    border: solid 1px black;
    background-color: var(--dark);
    width: 90%;
    height: 450px;
    margin: auto;
    border-radius: 4px;
    box-shadow: 0px 5px 10px var(--dark);
}
#dessert h1{
    text-align: center;
    font-size: 40px;
}
#dessert li {
    color: var(--light);
    font-size: 20px;
    list-style: none;
}
#dessert .liste{
    display: flex;
}
#dessert ul{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 50px;
}
#dessert p{
    color: var(--light);
    font-size: 15px;
    text-align: center;
    padding-top: 20px;
}
@media screen and (min-width: 1200px) {
    .wrapper {
        width: 70rem;
        margin: auto;
        box-shadow:2px 2px 10px gray; 
        -moz-box-shadow:2px 2px 10px gray;
        -webkit-box-shadow:2px 2px 10px gray;
        border-radius: 2px;
}
    }

.tooltip, .tooltip1, .tooltip2, .tooltip3, .tooltip4 {
    /* display: none;
} */