:root { 
    /* color variables */
        --light : #ffffed;
        --dark : #333;
        --color : #bac94c;
    }
    
    
/* GENERAL  */
html, body {
    margin:0;
    padding:0;
    font-family: Calibri , sans-serif;
    }
    
body {
    background-color: lightgrey;
    color: var(--dark);
    font-family: 'calibri', sans-serif;
    }
    
.wrapper {
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    }   
    
/*DESKTOP MENU*/
header{
    position: sticky;
    top: 0;
    display: flex;
    max-width: 100%;
    background-color: var(--dark);
    padding: .5rem;
    justify-content: space-between;
    align-items: center;
}

#burger_container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16px;
    width: 22.75px;
}

.burger_btn{
    position: absolute;
    height: 1rem;
    cursor: pointer;
}

#burger_btn_down{
    z-index: 2;
}

#burger_btn_up{
 z-index : 1;
}

#desktop_menu{
    display: flex;
}

/*BUTTON MENU */
.nav_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .5rem;
    list-style: none;
    height: 2rem;
    width: 8rem;
    text-align: center;
    opacity: 1;
    border: 1px solid var(--color);
    border-radius: 10px;
    color: var(--light);
    text-decoration: none;
    background-color: var(--dark);
}

.logo_bistrot{
    height: 2rem;
    padding: 1rem;
    margin:  0 1rem;
    border: 1px solid var(--color);
    border-radius: 100%;
}

/*RESPONSIVE MENU*/
#responsive_menu{
    position : fixed;
    margin-top: 82px;
    display: none;
    flex-direction: column;
    background-color: #333;
    width: 9.5rem;
    border-bottom-right-radius: 15px;    
}

#responsive_menu > ul{
    margin: 0;
    padding: 0;
}
    
    /* PHIPHI BANNIERE */
    
#phiphi {
    background-color: var(--light);
    color: var(--dark);
    margin: 0.5rem 0.5rem 1rem 3rem;
    border-radius: 3px;
    }

.banner{
    display:inline-flex;
}

.text{
    width: 75%;
    margin: auto;
    text-align: justify;
}

.text h1{
    text-align: center;
}
    
    /* CARTE DES BOISSONS */
    
#drinks h2 {
    padding: 0 2rem;
    text-transform: uppercase;
    }
    
    
.drink-type{
    margin: 4rem 2rem;
    box-shadow: 2px 5px lightgrey; 
    -moz-box-shadow: 1px 2px 5px lightgrey;
    -webkit-box-shadow: 1px 2px 5px lightgrey;
    border-radius: 2px;
    padding: 2rem 0;
    }
    
.border{
    height: 1px;
    width: 85%;
    margin: 0 auto;
    border-top: 1px solid var(--color);
    }

.drinks-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0.5rem;
    margin: 1rem 2rem;
}

.apero-menu {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 0.5rem;
    margin: 1rem 2rem;
}

/* Vins */

#legends{
    font-size: 0.7rem;
    padding: 0;
    margin: 0;
}
 .wine {
    display: grid;
    grid-template-columns: 4.5fr 0.5fr 0.5fr 1.3fr 1fr  1fr 0.9fr;
    padding: 0.5rem;
    margin: 1rem 2rem;
}

.red-round {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #6f0d0d;
}

.rose-round {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #e96f51;
}

.white-round {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #e6d67c;
}
/*Menu Plat*/
#plat h1{
    text-align: center;
    font-size: 60px;
}
#plat h2{
    margin: 0px 0px 0px 40px;  
    font-size: 30px;
    color: var(--light);
}
#plat p {
    font-size: 25px;
    color: var(--light);
}
#plat img{
    float: left;
    margin: 4px 0px 0px 5px;
}
#plat .formule{
    border: solid 1px black;
    background-color: var(--dark);
    text-align: center;
    width: 90%;
    height: 450px;
    margin: auto;
    padding-top: 40px;
    border-radius: 4px;
    box-shadow:0px 5px 10px var(--dark);
}

#user_message{
    height: 5rem;
}
/* Footer */
footer {
    border : solid black 1px;
    height: 243px;
    background-color:var(--dark);  
    list-style: none;  
}
footer a{
    text-decoration: none;
    color: var(--light);
}

.footer1 h3{
    color: var(--color);
}
footer .footer1{
    display: flex;
    justify-content: space-around;
    text-align: left;
    margin-right: 100px;
}

footer .listeregent{
    width: 15rem;
    flex-direction: column;
    margin-right: -66px;

}
footer li {
    font-size: 12px;
}
footer hr{
    margin-top: 40px;
    color: var(--light);
}
footer .nomfooter{
    display: flex;
    justify-content: space-around;
}
footer .nomfooter p{
    color: var(--light);
    margin-top: 5px;
    font-size: 12px;
}
footer .nomfooter a{
    color: var(--color);
}
footer .follow nav {
    display: flex;
    justify-content: space-between;
    width: 120px;
}
        /*FORMULAIRE*/
    #contact h2{
        text-align: center;
        color: var(--dark);
    }
    
    
    form{
        display: grid;
        grid-template-columns: 20rem;
        justify-content: center;
    }
    
    label{
        margin: .5rem;
        padding-top: .2rem;
    }
    
    .form_input{
        border: none;
        border-left: 1px solid;
        border-bottom: 1px solid;
        border-color: var(--dark);
        border-bottom-left-radius: 5px;
        outline: none;
        height: 1.2rem;
        padding-left: 0.5rem;
    }
    
    #select_input{
        background-color: var(--light);
    }
    
    #user_message{
        height: 5rem;
    }
    
    #submit_btn{
        width: 5rem;
        height: 2.5rem;
        margin: 1rem;
        justify-self: end;
        border-radius: 13px;
        border: 2px solid var(--color);
        background-color: var(--dark);
        color: var(--color);
    }
    
    #submit_btn:hover{
        cursor: pointer;
        box-shadow: var(--dark) 0px 5px 15px;
    }
    
    /* MEDIA QUERIES */
    
    @media screen and (min-width: 1200px) {
        .wrapper {
            width: 70%;
            margin: auto;
            box-shadow:2px 2px 10px gray; 
            -moz-box-shadow:2px 2px 10px gray;
            -webkit-box-shadow:2px 2px 10px gray;
            border-radius: 2px;
        }
     
        .large-display{
            display: inline-flex;
        }

        .aperooo{
            margin-right: 10rem;
        }

        .container-softs {
            display: inline-flex;  
        } 


        #burger_btn_down,
        #burger_btn_up,
        #responsive_menu
        {
            display: none;
        }
    }    
    /* Mettre les enfants en display inline ; ajouter height (et width). Meme chose pour la carte des boissons
    Softs: faire des br et supp drink infos. Carte des vins: mettre contenance sous le nom. Rebouger les borders pour meilleur rendu. */
    
    @media screen and (max-width: 1200px) {
        #desktop_menu{
            display: none;
        }
    }
    
    @media screen and (max-width: 698px) {
        #optional{
            display: none;
        }
    
        .bloc-container {
            width: 95%;
        }
    }
